#h1{
    font-family: cursive;
}

#h2{
    font-family: cursive;
    font-weight: bold;
}
#h3{
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#img{
    height: 200;
    width: 200;
    align-items: center;
    border: 1;
    border-spacing: 2;
    border-color: black;
}

#tnk{
    font-family: cursive;
    font-weight: 100;
}
#tnk1{
    font-family: cursive;
    font-weight: 50;
}
#table{
    table-layout: auto;
    border: 5;
    border-color: black;
    border-spacing: 2;
}